[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "permimp"]
	path = permimp
	url = https://github.com/ddebeer/permimp
[submodule "scDIFtest"]
	path = scDIFtest
	url = https://github.com/ddebeer/scdiftest
